@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="w-25">
            <div class="card text-white bg-dark">
                <div class="card-header bg-dark">Product</div>
                <div class="card-body">
                    <p class="card-title">Total Product: @ViewBag.Product</p>
                </div>
            </div>
        </div>
        <div class="w-25">
            <div class="card text-white bg-dark">
                <div class="card-header bg-dark">Order</div>
                <div class="card-body">
                    <p class="card-title">Total Order: @ViewBag.Order </p>
                </div>
            </div>
        </div>
    </div>
</div>
