@model int
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="w-25">
            <div class="card text-white bg-dark">
                <div class="card-header bg-dark">Sellers</div>
                <div class="card-body">
                    <p class="card-title">Total Sellers: @Model</p>
                </div>
            </div>
        </div>
    </div>
</div>
